*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
	position:relative;
	display: block;
	width:100%;
	margin:auto; 
	background-image: url(../img/background.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index:0;
}	
h2{
	position: relative;
	display:block;
	height: 33%;
	width:50%;
	margin: auto;
	padding: 5%;
	background-image: url(../img/companylogoBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
}
h2{
	font-family: Helvetica;
	color:#FFF;
	font-size: 2em;
	text-align:center;
	-webkit-text-stroke:0.04em #000000;
}
nav{
	position:relative;
	display: block;
	width: 50%;
	margin: auto;
	background-color:#707070; 
	background-size: cover;
	padding: 1%;
	border-style: solid;
	border-color: #FFF;
	border-width:0.02em;
}
ul {
    list-style-type: none;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    text-align: center;
    word-spacing: 0.5em;
}

li {
	word-spacing: 0.5em;
}

li a {
	display: flex;
    color: #FFF;
    text-decoration: none;
}

/* Change the link color to blue after using hover */
li a:hover {
	width:7em;
	height: 2em;
    background-color:#2699FB ;
}
.entertainment{
	position: relative;
	display: flex;
	width: 50%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 10em;

}
.fEntertainment{
	position: relative;
	display: block;
	margin: auto;
	max-width: 50%;
	height: 250px;
	background-image: url(../img/small/product3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.mGames{
	position: relative;
	display:block;
	width: 50%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 20em;
}
.fMobile{
	position: relative;
	display: block;
	margin: auto;
	max-width: 50%;
	height: 250px;
	background-image: url(../img/small/product8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bGames{
	position: relative;
	display:block;
	width: 50%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 20em;
}
.fBoard{
	position: relative;
	display: block;
	margin: auto;
	max-width: 50%;
	height: 250px;
	background-image: url(../img/small/product6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cGames{
	position: relative;
	display:block;
	width: 50%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 20em;
}
.fConsole{
	position: relative;
	display: block;
	margin: auto;
	max-width: 50%;
	height: 250px;
	background-image: url(../img/small/product9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
footer{
	position: relative;
	display:block;
	margin: auto;
	width: 50%;
	font-family: Helvetica;
	color: #FFF;
	background-color: #000;
	text-align: center;
	padding: 1%;
}
#PRODUCTS{
	display:none;
}
.pCatalog{
	position: relative;
	display: block;
	width: 50%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	padding: 1%;
	text-decoration: none;
}
section{
	position: relative;
	margin:auto;
	display:flex;
	margin:auto;
	flex-wrap: wrap;
	width:50%;
	height:27.2em;
	background-color: #FFF;
	background-size: 100%;
	z-index: 2;
	justify-content: space-between;
}
.cube{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product1.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
}
.house{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
	border-left: 0.2em;
}
.mario{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-left: 0.2em;
}
.poker{
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
}
.chess{
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-left: 0.2em;
	border-right: 0.2em;
}
.stickmen{
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product6.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-left: 0.2em;
}
.arrow{
display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product7.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
}
.mobile{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product8.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
	border-left: 0.2em;
}
.joystick{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product9.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-left: 0.2em;
}
.nintendo{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product10.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
}
.basketball{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product11.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-right: 0.2em;
	border-left: 0.2em;	
}
.pong{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	align-items: flex-end;
	flex-basis:32.25%;
	height: auto;
	background-image: url(../img/small/product12.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	border-style: solid;
	border-color: #FFF;
	border-width: 0.4em;
	border-left: 0.2em;
}
form{
	display: flex;
	flex-direction: column;
	position: relative;
	width:50%;
	margin:auto;
	background-color:#F5F5F5;
	padding: 2em; 
}
label{
	color:#707070;
	background-color: #FFF;
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-left: 0.6em;

}
select{
	float: right;
	margin:0.2em;
	width:60%;
}
option{
	background-color: #FFF;
	font-size: 0.5em;
}
fieldset{
	background-color: #FFF;
	background-size: cover;
	margin:0.5em;
}
.contactFormFieldset{
	height: 30px;
}
textarea{
	border:none;
	width:95%;
	height: 80px;
	font-size: 1.4em;
	margin-top: 0.2em;
	margin-left: 0.6em;
}
.in{
	width:95%;
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-left: 0.6em;
}
input{
	margin:auto;
	border:none;
	width: 96.5%;
	font-size: 1.5em;
	align-items: center;
}
.sub{
	color:#FFF;
	background-color: #2699FB;
}
p{
	color:#707070;
	margin-top:-0.5em;
	margin-bottom: 0.3em;
	font-size: 1.5em;
}
	/*hamburger css*/
}
.header {
  display: block;
  margin:auto;
  margin-bottom: 3em;
  width: 100%;
  background-color: #AAA;
  position: relative;
  height: 20px;
  z-index: 3;
  border-style: solid;
  border-color: #FFF;
  border-width: 0.02em;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  height:250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #707070 0%, #707070 100%);
  z-index: 1000;
}

.sidebarMenuInner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  margin-bottom: 3em;
  margin-top: 1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  top:-0.6em;
  z-index: 99;
  height: 30px;
  width: 3px;
}

.spinner{
  transition: all 0.3s;
  position: relative;
  margin-top: 0.15em;
  margin-left: 0.6em;
  height: 10%;
  width: 10%;
  background-color: #FFF;
  background-size: 100%;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
/*hamgurger css end */
/* MOBILE VERSION */	
@media only screen and (max-width: 360px){
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	body{ 
		background-size: 0;
	}
	h2{
		width:100%;
	}
	h4{
		display: block;
		height: 40px;
		background-color: #707070;
		margin-top: 0;
		border-style: solid;
		border-color:#FFF;
		border-width: thin;
	}
	label{
		position: relative;
		margin-top: 0.5em;
	}
	#CATALOG{
		display:none;
	}
	#PRODUCTS{
		display:block;
	}
	.pCatalog{
		font-size: 1.5em;
		width:100%;
	}
	nav{
		width:100%;
	}
	section{
		display:flex;
		flex-direction: column;
		width:100%;
		height:2500px;
		flex-wrap: nowrap;
	}
	.cube{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.house{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.mario{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.poker{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.chess{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.stickmen{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;	
	}
	.arrow{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.mobile{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.joystick{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.nintendo{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.basketball{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.pong{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.fBoard{
		display:none;
	}
	.entertainment{
		width:100%;
		font-size: 1.5em;
	}
	.fEntertainment{
		max-width:100%;
		background-size: 99%;
		margin-top: -2em;
		margin-bottom: -2em;
	}
	.mGames{
		display:none;
	}
	.fMobile{
		max-width:100%;
		background-size: 99%;
		margin-top: -1.5em;
		margin-bottom: -1.5em;
	}
	.bGames{
		display:none;
	}
	.fConsole{
		max-width:100%;
		background-size: 99%;
		border-top: 0;
		margin-top: -1.5em;
		margin-bottom: -1.5em;
	}
	.cGames{
		display: none;
	}
	form{
		width:100%;
	}
	.mInfo{
		display: none;
	}
	select{
		width: 95%;
	}
	footer{
		padding: 1em;
		width:100%;
	}
	nav{
		display: none;
	}
}
/* TABLET VERSION */ 
@media only screen and (min-width: 361px) and (max-width: 959px) {
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	body{ 
		background-size: 0;
	}
	h2{
		width:100%;
	}
	h4 {
  		display: none;
	}
	nav{
		width:100%;
	}
	section{
		display:flex;
		flex-direction:row;
		width:100%;
		height:1200px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.entertainment{
		width:100%;
	}
	.fEntertainment{
		max-width: 50%;
		margin-left: unset;
		border-style: solid;
		border-color: #FFF;
	}
	.mGames{
		display:none;
	}
	.fMobile{
		max-width: 50%;
		margin-top: -15.6em;
		margin-right: unset;
		border-style: solid;
		border-color: #FFF;
	}
	.bGames{
		display: none;
	}
	.fBoard{
		display:none;
	}
	.cGames{
		width:100%;
	}
	.fConsole{
		max-width: 100%;
		border-style: solid;
		border-color: #FFF;
	}
	.pCatalog{
		display:none;
	}
	.cube{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.house{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.mario{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.poker{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.chess{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.stickmen{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;	
	}
	.arrow{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.mobile{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.joystick{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.nintendo{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.basketball{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	.pong{
		flex:50%;
		border-style: solid;
		border-color: #FFF;
		border-width: 0.4em;
	}
	form{
		width:100%;
	}
	.mInfo{
		display: none;
	}
	select{
		width: 95%;
	}
	footer{
		width:100%;
	}
}
/* PC VERSION */ 
@media only screen and (min-width: 960px){
	body{
		display: block;
		background-size: 100%;
	}
	h4{
		display: none;
	}
	.fBoard{
		display:block;
	}
}