*{
	padding:0;
	margin:0;
}
body{
	position:relative;
	width:960px;
	background-image: url(../img/background.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index:0;
}	
h2{
	position: relative;
	display:block;
	height: 33%;
	width:50%;
	margin: auto;
	padding: 5%;
	background-image: url(../img/companylogoBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h2{
	font-family: Helvetica;
	color:#FFF;
	font-size: 2em;
	text-align:center;
	-webkit-text-stroke:0.04em #000000;
}
nav{
	position:relative;
	display: block;
	width: 60%;
	margin: auto;
}
ul {
    list-style-type: none;
    background-color: #707070;
    text-align: center;
    word-spacing: 2em;
}

li {
	display: inline;
}

li a {
	display: inline-block;
    color: #000;
    text-decoration: none;
}

/* Change the link color to blue after using hover */
li a:hover {
    background-color:#2699FB ;
}
.entertainment{
	position: relative;
	display: flex;
	width: 58%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;

}
.fEntertainment{
	position: relative;
	display: block;
	margin: auto;
	max-width: 60%;
	height: 250px;
	background-image: url(../img/small/product3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.mGames{
	position: relative;
	display:block;
	width: 58%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 5em;
}
.fMobile{
	position: relative;
	display: block;
	margin: auto;
	max-width: 60%;
	height: 250px;
	background-image: url(../img/small/product8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bGames{
	position: relative;
	display:block;
	width: 58%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 5em;
}
.fBoard{
	position: relative;
	display: block;
	margin: auto;
	max-width: 60%;
	height: 250px;
	background-image: url(../img/small/product6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cGames{
	position: relative;
	display:block;
	width: 58%;
	margin: auto;
	color:#FFF;
	background-color: #2699FB;
	background-size: cover;
	font-size: 292%;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	text-decoration: none;
	word-spacing: 5em;
}
.fConsole{
	position: relative;
	display: block;
	margin: auto;
	max-width: 60%;
	height: 250px;
	background-image: url(../img/small/product9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
footer{
	position: relative;
	margin: auto;
	width: 58%;
	font-family: Helvetica;
	color: #FFF;
	background-color: #000;
	text-align: center;
	padding: 1%;
}